.particles-background {
    position: fixed; /* Fixed position to cover entire viewport */
    width: 100%;
    height: 100%;
    z-index: -1; /* Send it behind other content */
  }
  
  .welcome-text {
    position: absolute; /* Positioning for overlay */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    color: white; /* Text color */
    font-size: 3rem; /* Font size */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text alignment */
  }
  