<div id="particles-js" class="particles-background"></div>
<div class="about-container">
  <div class="image-container">
    <img [src]="path" alt="My Image" />
  </div>
  <div class="text-container">
    <h2>About Me</h2>
    <p>
      Hello! I am Mudigonda Mohan sai. I am passionate about Full  stack development and enjoy creating beautiful and functional applications.
      My skills include Angular, Java Spring Boot, and more.
    </p>
    <div class="social-media-links">
      <a href="https://github.com/Mudigonda45" target="_blank" aria-label="GitHub">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/yourusername" target="_blank" aria-label="LinkedIn">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://www.instagram.com/yourusername" target="_blank" aria-label="Instagram">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://vsco.co/mohansaimudigonda/gallery" target="_blank" aria-label="Photography">
        <fa-icon [icon]="faCameraRetro"></fa-icon>
      </a>
    </div>
  </div>
</div>
