
<!-- <div>
  <app-about-me></app-about-me>
  <app-skills></app-skills>
 <app-projects></app-projects>
</div> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <app-particles></app-particles>
<app-header></app-header>  -->

<div class="main-container">
  <app-navbar></app-navbar>
<!-- <app-hero></app-hero> -->
  <router-outlet></router-outlet> 
  <!-- <app-education></app-education> -->
   <app-timeline></app-timeline>
  <app-skills></app-skills>
  <app-projects></app-projects>
  <br>
<!--   <app-contact></app-contact> -->
  <br>
</div>  
<app-footer></app-footer>
<!-- <app-header></app-header> 
<div class="main-container">
  <router-outlet></router-outlet> 
</div>
<app-footer></app-footer> 

 -->
<!--  <div class="app-content">
  <app-contact></app-contact>
</div>
 -->
 